<p>stock-prices works!</p>

<!-- @defer (when stockPriceObservable$ | async as price) {
    <p>{{ price.price }}</p>
} @placeholder {
    <div placeholderStockPrices></div>
} @loading {
    <div loading></div>
} @error {
    <div errorStockPrices></div>
}


<ng-template #placeholderStockPrices>
    <p>Stock Prices Placeholder</p>
</ng-template>

<ng-template #loadingStockPrices>
    <p>Please wait while we load the stock prices..</p>
</ng-template>

<ng-template #errorStockPrices>
    <p>Error while loading the stock prices</p>
</ng-template> -->